# MongoDB Connection
MONGODB_URI=mongodb+srv://etlasstudio:shafaqali562004@cluster0.aocmlox.mongodb.net/?appName=Cluster0

# JWT Secret (Generate a random string)
JWT_SECRET=shafaqali562004@

# Admin Email
ADMIN_EMAIL=alishafaq782@gmail.com

# Server Configuration
PORT=5000
NODE_ENV=production

# Cloudinary Configuration (for image hosting)
CLOUDINARY_CLOUD_NAME=dvohnwfma
CLOUDINARY_API_KEY=465667897912886
CLOUDINARY_API_SECRET=-5Tcm6batg0OLqy2DiKlk9eihVw

# Frontend URL (for CORS)
FRONTEND_URL=https://your-domain.com
DASHBOARD_URL=https://your-dashboard-domain.com




